.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.fibonacci_form > * {
  margin: 4px auto;
}

.text_input {
  width: 222px;
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.button_submit {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #fff;
  border: none transparent;
  background: #079c2b;
  text-decoration: none;
  border-radius: 2px;
}

.error {
  width: 340px;
  padding: 4px;
  color: #b31d28;
  background-color: #ffeef0;
}

.list_container {
  width: 200px;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 20px auto 0 auto;
}

.list_container > li {
  font-size: 18px;
  font-weight: bold;
}

li.wic,
li.tic {
  color: blue;
}

li.woe,
li.toe {
  color: green;
}

.pagination_list > li {
  background: rgb(66, 184, 221);
  padding: 8px 16px;
  display: inline-block;
  margin-right: 2px;
  color: #f9f9f9;
  cursor: pointer;
}

.pagination-button__active {
  background: #177b9a !important;
}
